.backk{
    width: 100%;
    height: 850px;
    margin-top: 1980px;   
}
.h3aa{
    margin-top: 70px;
    margin-left: 48%;
    color: #6E00FF;
}
.h1aa{
    margin-top: 70px;
    margin-left: 39%;
    font-size: 50px;
}
.conta{
    display: flex;
    margin-left: 270px;
    margin-top:50px;
}
.colll{
    margin-left: 30px;
}
.collll{
    margin-left: 30px;
}
.colllll{
    margin-left: 30px;
}
.but{
    margin-top: 100px;
    margin-left: 50%;
  
}
.r{
    margin-left: 15px;
    background-color: green;
   
}
.l{
    background-color: rgb(93, 94, 94);
}




